<div class='flash'>
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <% end %>
</div>

<h2>Edit the <i><%=@ticket.movie_name%></i> ticket:</h2>

<form action='/tickets/<%=@ticket.id%>' method='POST'>
  <input id='hidden' type='hidden' name="_method" value='patch'>
    <label>Movie Name: </label>
      <input type='text' name='movie_name' value="<%=@ticket.movie_name%>">

    <br><br>
    <label>Date: </label>
      <input type='date' name='date' value='<%=@ticket.date%>'>

    <br><br>

    <label>Movie Theater</label>
      <input type='text' name='movie_theater' value='<%=@ticket.movie_theater%>'>

    <br><br>

    <input type='submit' value='Edit'>
</form>
