<h2>Tickets Homepage</h2>

<a href='/tickets/new' id='create_link'>Create New Ticket</a>

<h3>Welcome <%= @tickets.first.user.username.capitalize %>!</h3>
<br>
<h4>Your Tickets:</h4>
<br>
  <ul>
    <% @tickets.each do |ticket| %>
      <li>
        <b>Movie Name:</b> <%=ticket.movie_name%>
        <br>
        <b>Date:</b> <%=ticket.date%>
        <br>
        <b>Movie Theater:</b> <%=ticket.movie_theater%>
      </li>

      <form id='button' method="get" action="/tickets/<%= ticket.id %>"> 
        <input type="submit" value="View Ticket"> 
      </form> 

      <form id='button' method="get" action="/tickets/<%= ticket.id %>/edit"> 
        <input type="submit" value="Edit Ticket"> 
      </form> 

      <form id='button' method="post" action="/tickets/<%= ticket.id %>"> 
        <input id="hidden" type="hidden" name="_method" value="DELETE"> 
        <input name='delete' type="submit" value="Delete Ticket"> 
      </form> 
      <br><br><br>
    <%end%>
  </ul>
