<div class='flash'>
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <% end %>
</div>

<h2>Ticket for your upcoming movie:</h2>

<h3><i><%=@ticket.movie_name%></i></h3>
<p><b>Date: </b> <%=@ticket.date%></p>
<p><b>Movie Theater:</b> <%=@ticket.movie_theater%></p>

<br>

<form id='button' method="get" action="/tickets/<%=@ticket.id%>/edit"> 
  <input id="hidden" type="hidden" name="_method" value="EDIT"> 
  <input name='edit' type="submit" value="Edit Ticket"> 
</form> 

<form id='button' method="post" action="/tickets/<%=@ticket.id%>"> 
  <input id="hidden" type="hidden" name="_method" value="DELETE"> 
  <input name='delete' type="submit" value="Delete Ticket"> 
</form> 
